:root {
  /* Winter Chill Palette */
  --color-bg: #B8E3E9;
  --color-surface: #93B1B5;
  --color-primary: #4F7C82;
  --color-dark: #0B2E33;

  --color-text-light: #ffffff;
  --color-text-dark: #0B2E33;
}
